.portrait{
text-align: center;
margin-top: 20px;
}

.navbar{
    background-color: rgb(204, 163, 243);
    color: aliceblue;
}

.titulo{
    margin-top: 20px;
   text-align: center;
}

.tarjetas{
    display: flex;
    justify-content: space-around;
}

footer{
    background-color: rgb(204, 163, 243);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    padding: 10px;
}
